.Rproj.user
.Rhistory
.RData
.Ruserdata

*.txt
*.dat
*.jpg
*.svg
*.html
*.csv
*.log
*.zip
*.png
*.svg
*.jpeg
*.jpg
*.xls*
*.doc*
*.pptx
*.tsv
*.pdf
*.xml
*.mgf
*.px
px*
*.mzxml
*.raw
*.jar

Phosphopath*
Perseus*

*/archive/*
*/Archive/*
Archive/*

*.rds